/* Estilos globais */
body {
    font-family: Arial, sans-serif;
    margin: 0%;
    padding: 0%;
}

#tab {
    height: 125vh;
    background-image: url('../Images/FamilyCooking1.jpg');
    background-size: 102.5% auto; /* Ajuste a largura automaticamente */
    background-repeat: no-repeat;
    background-position-x: center; /* Mantém a imagem centralizada na horizontal */
    background-position-y: 30%; /* Ajuste o valor verticalmente conforme necessário */
    background-attachment: fixed;
}


.logo {
    width: 10%;
    position: absolute;
    top: 6%;
    left: 2.5%;
}

/* Estilos da seção de destaque (hero) */
.hero {
    text-align: center;
    padding: 25%;
}

.headline {
    font-size: 250%;
    background-image: linear-gradient(
        to right,
        #462523 0,
        #cb9b51 22%, 
        #f6e27a 45%,
        #f6f2c0 50%,
        #f6e27a 55%,
        #cb9b51 78%,
        #462523 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-bottom: -2.5%;
    -webkit-text-stroke: 1px rgb(0, 0, 0); /* Adicione a borda branca ao texto */
}

.supporting-copy {
    font-size: 200%;
    color: #b0b0b0;
    margin-bottom: -2.5%;
}


.hero-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20%;
}

/* Estilos do rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
